.date-range-picker {
  display: flex;
  gap: 0px;
  font-family: sans-serif;
}

.date-range-picker > div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.date-range-picker label {
  margin-bottom: 4px;
  user-select: none;
}

.date-range-picker input[type="date"] {
  min-width: 150px;
  min-height: 32px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  transition: border-color 0.2s ease;
}

.date-range-picker input[type="date"]:focus {
  outline: none;
  border-color: #4096ff;
  box-shadow: 0 0 3px #a8caff;
}
